html{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: hsl(180, 96%, 64%);
}

main {
    max-width: 500px;
    margin: 0 auto;
}

section{
    margin-top: 100px;
    display: grid;
    place-items: center;
    border: 2px solid hsl(20, 0%, 70%);
    border-radius: 10px;
    padding: 20px 10px;
    background-color: aliceblue;
    box-shadow: 5px 5px 2px hsl(10, 0%, 30%);
}

h1{
    font-size: 2rem;
    text-shadow: 2px 2px hsl(0, 0%, 60%);
}